{{#section 'css'}}
{{/section}}

{{#section 'script'}}
<script>
    const getGugun = () => {
        let url = '?sido=' + sido.value;
        location.href = url;
    };

    const getDong = () => {
        let url = '?sido=' + sido.value + '&gugun=' + gugun.value;
        location.href = url;
    };

    const getZipcode = () => {
        let url = '?sido=' + sido.value + '&gugun=' + gugun.value
                    + '&dong=' + dong.value;
        location.href = url;
    };

    let sido = document.querySelector('#sido');
    let gugun = document.querySelector('#gugun');
    let dong = document.querySelector('#dong');

    sido.addEventListener('change', getGugun);
    gugun.addEventListener('change', getDong);
    dong.addEventListener('change', getZipcode);
</script>
<script>
    {{#if sido}}
        document.querySelector('#sido').value = '{{sido}}';
    {{/if}}
    {{#if gugun}}
        document.querySelector('#gugun').value = '{{gugun}}';
    {{/if}}
    {{#if dong}}
        document.querySelector('#dong').value = '{{dong}}';
    {{/if}}
</script>
{{/section}}

<main>
    <h1>시군구동 찾기</h1>
    <div>
        <select name="sido" id="sido">
            <option>-- 시도 --</option>
            {{#sidos}}
                <option>{{sido}}</option>
            {{/sidos}}
        </select>
        <select name="gugun" id="gugun">
            <option>-- 시군구 --</option>
            {{#guguns}}
                <option>{{gugun}}</option>
            {{/guguns}}
        </select>
        <select name="dong" id="dong">
            <option>-- 읍면동 --</option>
            {{#dongs}}
                <option>{{dong}}</option>
            {{/dongs}}
        </select>
    </div>

    <div>
        {{#zips}}
            <p>{{zipcode}} {{sido}} {{gugun}} {{dong}}
                {{ri}} {{bunji}}</p>
        {{/zips}}
    </div>
</main>