{{#section 'css'}}
<style>
    .board { width: 700px; margin: 0 auto;
        table-layout: fixed; border-collapse: collapse }

    .board td { text-align: center; padding: 7px }
    .board td:nth-child(2) { white-space: nowrap;
        overflow: hidden; text-overflow: ellipsis; }
    .board th { padding:7px; background: lightgoldenrodyellow }
    .board tr:nth-child(odd) { background: #e4f7ba }
    .board tr:nth-child(even) { background: #cef279 }
    .alignrgt { text-align-last: right }
    .board td:nth-child(2), .board th:nth-child(2) {
        text-align: left }

    .pagenation { list-style: none; padding: 0;
        margin: 0 auto; width: 435px }
    .pagenation li { display: inline-block; padding: 10px; }
    .cpage { font: bold 48px '맑은 고딕'; color: red }
    .prev { color: #cccccc }
</style>
{{/section}}

{{#section 'script'}}
<script>
let newbtn = document.querySelector('#newbtn');
newbtn.addEventListener('click', ()=>{
    location.href = '/board/write';
});
</script>
{{/section}}

<main>
    <h2>게시판</h2>
    <table class="board">
        <colgroup><!-- 각 컬럼에 디자인 적용 -->
            <col style="width: 10%">
            <col>
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 10%">
        </colgroup>
        <tr><td colspan="5" class="alignrgt">
            <button type="button" id="newbtn">새글쓰기</button></td></tr>
        <tr><th>번호</th><th>제목</th><th>작성자</th>
            <th>작성일</th><th>조회</th></tr>
        {{#bds}}
            <tr><td>{{bno}}</td>
                <td><a href="/board/view?bno={{bno}}">{{title}}</a></td>
                <td>{{userid}}</td><td>{{regdate}}</td>
                <td>{{views}}</td></tr>
        {{/bds}}
    </table>

    <ul class="pagenation"><li class="prev">이전</li>
        <li class="cpage">1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li>
        <li>다음</li></ul>
</main>