{{#section 'css'}}
<style>
    .board { width: 700px; margin: 0 auto;
        table-layout: fixed; border-collapse: collapse }

    .board td { text-align: center; padding: 7px }
    .board td:nth-child(2) { white-space: nowrap;
        overflow: hidden; text-overflow: ellipsis; }
    .board th { padding:7px; background: lightgoldenrodyellow }
    .board tr:nth-child(odd) { background: #e4f7ba }
    .board tr:nth-child(even) { background: #cef279 }
    .alignrgt { text-align-last: right }
    .alignlft { text-align: left !important; }
    .board td:nth-child(2), .board th:nth-child(2) {
        text-align: left }

    .pagenation { list-style: none; padding: 0;
        margin: 0 auto; text-align: center }
    .pagenation li { display: inline-block; padding: 6px; }
    .cpage { font: bold 32px '맑은 고딕'; color: red; }
    .prev { color: #cccccc }

    select { padding: 3px }
    input[type="text"] { padding: 5px }
</style>
{{/section}}

{{#section 'script'}}
<script>
let newbtn = document.querySelector('#newbtn');
let findbtn = document.querySelector('#findbtn');
let ftype = document.querySelector('#ftype');
let fkey = document.querySelector('#fkey');
// optional chaining (?.)
// ? 앞의 객체변수가 null 이거나 undefined 라면
// . 뒤의 코드를 실행하지 않음
newbtn?.addEventListener('click', ()=>{ location.href = '/board/write'; });
findbtn?.addEventListener('click', ()=>{
    if (fkey.value) {  // fkey에 값이 존재한다면 (undefined 가 아니라면)
        let qry = '?ftype=' + ftype.value + '&fkey=' + fkey.value;
        location.href = '/board/list' + qry;
    } });
</script>
{{/section}}

<main>
    <h2>게시판</h2>
    <table class="board">
        <colgroup><!-- 각 컬럼에 디자인 적용 -->
            <col style="width: 10%">
            <col>
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 10%">
        </colgroup>
        <tr>
            <td colspan="3" class="alignlft">
                <select name="ftype" id="ftype">
                    <option value="title">제 목</option>
                    <option value="userid">작성자</option>
                    <option value="contents">본 문</option>
                </select>
                <input type="text" name="fkey" id="fkey">
                <button type="button" id="findbtn"
                    {{#unless session.userid}}disabled{{/unless}}>검색하기</button>
            </td>
            <td colspan="2" class="alignrgt">
            <button type="button" id="newbtn"
                {{#unless session.userid}}disabled{{/unless}}>새글쓰기</button></td>
        </tr>
        <tr><th>번호</th><th>제목</th><th>작성자</th>
            <th>작성일</th><th>조회</th></tr>
        {{#bds}}
            <tr><td>{{idx}}</td>
                <td><a href="/board/view?bno={{bno}}">{{title}}</a></td>
                <td>{{userid}}</td><td>{{regdate}}</td>
                <td>{{views}}</td></tr>
        {{/bds}}
    </table>

    <ul class="pagenation">
        {{#if pgn.isprev}}
            <li> <a href="?cpg={{pgn.prev}}{{qry}}">이전</a> </li>
        {{/if}}

        {{#if pgn.isprev10}}
            <li> <a href="?cpg={{pgn.prev10}}{{qry}}">이전-10</a> </li>
        {{/if}}

        {{#stpgns}}
            {{#if iscpg}}
                <li class="cpage">{{num}}</li>
            {{else}}
                <li><a href="?cpg={{num}}{{../qry}}">{{num}}</a></li>
            {{/if}}
        {{/stpgns}}

        {{#if pgn.isnext10}}
            <li> <a href="?cpg={{pgn.next10}}{{qry}}">다음+10</a> </li>
        {{/if}}

        {{#if pgn.isnext}}
            <li> <a href="?cpg={{pgn.next}}{{qry}}">다음</a> </li></ul>
        {{/if}}
</main>